        img{
            width: 300px;
        }
       .box{
        background-color: bisque;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10px;
        border: 2px solid black;
        border-radius: 10px;
       }

       .breakfast{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
       }
       
